<div x-data="carousel()" x-init="start()" class="relative w-full  overflow-hidden">
    <!-- Carousel Slider Kapsayıcı alanı -->
    <div class="flex transition-transform duration-500 ease-in-out"
         :style="`transform: translateX(-${current * 100}%);`">
        <template x-for="image in images" :key="image">
            <div class="relative w-full flex-shrink-0">
                <img :src="image" alt="Slide" class="w-full h-[500px] object-cover"/>
                <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 text-white text-center space-y-5 px-4">
                    <h1 class="text-xl lg:text-4xl font-bold">Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit.</h1>
                    <span class="text-lg block">Debitis dolor eos nihil repellendus sint voluptatum?</span>
                </div>
            </div>
        </template>
    </div>

    <!-- İleri/Geri Butonları -->
    <button class="absolute left-5 top-1/2 transform -translate-y-1/2 p-2 flex items-center bg-white  z-10 w-8 h-8 lg:w-11 lg:h-11 rounded-full hover:scale-110 transition-all"
            @click="prev()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor"
             class="size-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
        </svg>
    </button>
    <button class="absolute right-5 top-1/2 transform -translate-y-1/2 p-2 flex items-center bg-white  z-10 w-8 h-8 lg:w-11 lg:h-11 rounded-full hover:scale-110 transition-all"
            @click="next()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor"
             class="size-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
        </svg>
    </button>
</div>
