<div class="max-w-6xl mx-auto px-4 my-10" x-data="gallery" x-init="init">
  <!-- Büyük Görsel -->
  <div class="mb-4">
    <img
            :src="selectedImage"
            alt="Ana Görsel"
            class="object-cover h-[500px] w-full rounded-xl"
    />
  </div>

  <!-- Küçük Görseller ve Butonlar -->
  <div class="relative flex items-center">
    <!-- Sol Buton -->
    <button
            class="p-2 bg-white z-10 w-8 h-8 lg:w-11 lg:h-11 rounded-full hover:scale-110 transition-all shadow flex items-center justify-center"
            @click="prev"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="size-6 lg:size-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5"/>
      </svg>
    </button>

    <!-- Küçük Görseller Scroll Alanı -->
    <div class="overflow-x-auto hide-scrollbar" style="scrollbar-width: none" x-ref="thumbContainer">
      <div class="flex gap-1 w-max">
        <template x-for="(img, index) in images" :key="index">
          <img
                  :src="img"
                  :alt="`Önizleme ${index + 1}`"
                  class="object-cover w-24 h-24 rounded-md cursor-pointer"
                  @click="selectedImage = img"
          />
        </template>
      </div>
    </div>

    <!-- Sağ Buton -->
    <button
            class="p-2 bg-white z-10 w-8 h-8 lg:w-11 lg:h-11 rounded-full hover:scale-110 transition-all shadow flex items-center justify-center"
            @click="next"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
           stroke="currentColor" class="size-6 lg:size-8">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
      </svg>
    </button>
  </div>
</div>
